<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Google Sign-In -->
    <key>CLIENT_ID</key>
    <string>136909096200-speihkcs4ff4212vt3agjd1so58qv4rk.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.136909096200-speihkcs4ff4212vt3agjd1so58qv4rk</string>
    
    <!-- Firebase -->
    <key>API_KEY</key>
    <string>AIzaSyC7CrfpuV2MMDkBQN7C0kARhyVCi7Yw-Uw</string>
    <key>GCM_SENDER_ID</key>
    <string>497413263430</string>
    <key>PROJECT_ID</key>
    <string>hushmap-1532e</string>
    <key>STORAGE_BUCKET</key>
    <string>hushmap-1532e.firebasestorage.app</string>
    <key>GOOGLE_APP_ID</key>
    <string>1:497413263430:ios:2de4fe60c160f76a36ba47</string>
    
    <!-- Common -->
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.medcopywriter.HushMap</string>
    
    <!-- Flags -->
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
</dict>
</plist>