<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.136909096200-speihkcs4ff4212vt3agjd1so58qv4rk</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>GOOGLE_PLACES_API_KEY</key>
	<string>$(GOOGLE_PLACES_API_KEY)</string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HushMap uses your microphone to measure ambient noise levels and provide accurate sensory information about places. This helps create better accessibility data for the community.</string>
</dict>
</plist>
